{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>{% block title %}ReceiptBudget{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "receipts/css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "receipts/css/bootstrap-theme.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "receipts/css/receipts.css" %}" rel="stylesheet">
    {% block styles %}
    {% endblock %}
</head>

<body>
{% include "header.html" %}

<div class="container" id="main_content">
{% block content %}
{% endblock %}
</div>

<div class="container">
    {% block footer %}
    <footer>
        <ul class="list-unstyled list-inline">
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><p>&copy; ReceiptBudget 2013</p></li>
        </ul>
    </footer>
    {% endblock %}
</div>


<script src="{% static "receipts/js/jquery.js" %}"></script>
<script src="{% static "receipts/js/bootstrap.min.js" %}"></script>
<script src="{% static "receipts/js/d3.v3.min.js" %}"></script>
{% block scripts %}
{% endblock %}
</body>
</html>
