.items {
    display:none;
}
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

#main_content {
    padding-top: 10px;
}

.yellow {
    background-color: #ffff00;
}
.red {
    background-color: red;
}
.green {
    background-color: greenyellow;
}