{% extends "base.html" %}
{% load static %}
{% block title %}Add an expense{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{%  static 'receipts/css/imgareaselect-default.css' %}">
    <style>
        #photobooth {
            height: 500px;
            width: 500px;
        }

        #photobooth *, #photobooth *:before, #photobooth *:after {
            box-sizing: content-box;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="instructions">You can: </div>
    <ul>
        <li><span>Take a photo with your <a id="start_camera" href="#">camera</a></span>

        <div class="hidden" id="photo_snap">
            <i>For best results, make sure the receipt is from the top to the bottom of the image.</i>
            <button id="snap">Take Photo</button>
            <img src="" />
            <form id="webcam_form" method="POST" action="/upload_webcam/">
                {% csrf_token %}
                <input type="hidden" name="photo" id="webcam_photo" />
                <input type="hidden" name="x1" id="x1" />
                <input type="hidden" name="y1" id="y1" />
                <input type="hidden" name="x2" id="x2" />
                <input type="hidden" name="y2" id="y2" />
                <button type="submit" id="send_camera">Send photo</button>
            </form>
        </div>
        </li>
        <li>
            <span>Upload an already taken photo</span>
            <form action="/upload/" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <label for="photo">Select a photo:</label><input type="file" name="photo" id="photo"/>
                <input type="submit" value="Send photo"/>
            </form>
        </li>
        <li><span>Or add an expense <a href="{% url 'admin:receipts_expense_add' %}">manually</a>.</span></li>
    </ul>

        <h3></h3>
{% endblock %}

{% block scripts %}
    <script src="{% static "receipts/js/say-cheese.js" %}"></script>
    <script src="{% static "receipts/js/jquery.imgareaselect.min.js" %}"></script>
    <script>
        $('#start_camera').click(function(e) {
            e.preventDefault();
            var webcam_img;
            var area_select;
            var sayCheese = new SayCheese('#photo_snap', { snapshots: true });

            sayCheese.on('start', function () {
                $('#photo_snap').removeClass('hidden')
            });

            sayCheese.on('error', function (error) {
                alert(error);
            });

            sayCheese.on('snapshot', function (snapshot) {
                var img = $('#photo_snap').find('img');
                webcam_img = snapshot.toDataURL('image/png');
                console.log(webcam_img)
                img[0].src = snapshot.toDataURL('image/png');
                img.on('load', function() {
                    area_select = img.imgAreaSelect({show:true, handles: true, x1: snapshot.width/3, y1:0, x2:snapshot.width*2/3, y2:
                        snapshot.height, instance: true})
                })
            });

            sayCheese.start();

            $('#snap').click(function(e) {
                sayCheese.takeSnapshot()
            })
            $('#send_camera').click(function(e) {
//                e.preventDefault();#}
                $('#webcam_photo').val(webcam_img);
                var sel = area_select.getSelection();
                $('#x1').val(sel.x1);
                $('#x2').val(sel.x2);
                $('#y1').val(sel.y1);
                $('#y2').val(sel.y2);
                sayCheese.stop();
//                $('#webcam_form').submit();#}
            })
        })

    </script>
{% endblock %}
