{% extends "base.html" %}

{% block title %}Expenses{% endblock %}

{% block content %}
    <a href="{% url 'add_expense' %}">Add a new receipt</a>
    <!-- Example row of columns -->
    <div class="row">
        {% if expenses %}
            <ul class="col-lg-12 expense_list">
                {% for expense in expenses %}
                    <li>{{ expense }} <a href="{% url 'admin:receipts_expense_change' expense.id %}">Edit</a>
                        <ul class="items">
                            {% for item in expense.expenseitem_set.all %}
                                <li>{{ item }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            No expenses found!
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
<script>
    $('.expense_list li').click(function (e) {
        $(this).find('.items').toggle(500)
    })
</script>
{% endblock %}