{% extends "base.html" %}

{% block title %}Import CSV file{% endblock %}

{% block content %}
    {% csrf_token %}
    <label for="photo">Select a CSV file:</label><input type="file" name="csv" id="csv" />
    <div class="csv_table" style="display:none">
        Please check that the columns of your CSV have been correctly identified:
        <table>
        </table>
        <button id="upload_csv">Upload data</button>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">CSV Upload</h4>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script>
    var csv_input = $('#csv');
    var csv = [];
    csv_input.change(function(e) {
        e.preventDefault();
        var disp = $('.csv_table');
        var table = disp.find('table').html("");

        var file = csv_input[0].files[0];
        if (file.name.substr(-3,3) == 'csv') {
            var reader = new FileReader();

            reader.onload = function(e) {
                var rows = d3.csv.parseRows(reader.result);
                show_csv_start(rows)
            }
            reader.readAsText(file);
        } else {
            csv_display.text("File not supported!");
        }
    });

    function process_csv(csv) {
        var matches = true;
        for (var i = 0; i < csv[0].length; i++) {
            if (csv[0][i].match(/^[a-z]+$/i) == null) {
                matches = false;
                break;
            }
        }
        var j = 0;
        var headers = [];
        if (matches) {
            j = 1;
            $.each(csv[0], function(i, prop) {
                csv[0][i] = make_header(prop)
            });
        } else {
            $.each(csv[0], function(i, prop) {
                if (prop.match(/^(\d{2,4})[.-/\\](\d{2,4})[.-/\\](\d{2,4})$/)) {
                    headers.push('date');
                } else if (!isNaN(parseFloat(prop)) && isFinite(prop)) {
                    headers.push('price');
                } else {
                    headers.push('unknown');
                }
            });
            csv.unshift(headers);
        }

        return csv;
    }
    function show_csv_start(raw_csv) {
        var disp = $('.csv_table').show();
        var table = disp.find('table');
        csv = process_csv(raw_csv);
        var tr = $('<tr>').appendTo(table);
        $.each(csv[0], function(ind, value) {
            $('<td>').html(make_select(['unknown', 'date', 'item', 'price', 'place'], value)).appendTo(tr);
        })
        for (j=1; j < 3; j++) {
            var tr = $('<tr>').appendTo(table);
            $.each(csv[j], function(i, prop) {
                $('<td>').html(prop).appendTo(tr);
            });
        }

    }

    function make_header(value) {
        var options = {
            'date': ['data', 'date'],
            'item': ["item", "object", "obiect", "what"],
            'price': ['price', 'pret'],
            'place': ["locatie", "location", "place", "where"],
        }
        var header = 'unknown'
        for (var key in options) {
            if (options.hasOwnProperty(key)) {
                if (options[key].indexOf(value.toLowerCase()) != -1) {
                    header = key;
                    break;
                }
            }
        }
        return header;
    }
    function make_select(options, selected) {
        var sel = $('<select>');
        $.each(options, function(ind, value) {
            if (value == selected) {
                sel.append('<option value="'+value+'" selected>'+value+'</option>')
            } else {
                sel.append('<option value="'+value+'">'+value+'</option>')
            }
        });
        return sel;
    }

    $('#upload_csv').click(function(e) {
        e.preventDefault();
        var disp = $('.csv_table');
        var table = disp.find('table')
        var first_row = table.find("tr:first");
        first_row.find('td').each(function(i, el) {
            csv[0][i] = $(el).find(":selected").text()
        });
        if (csv[0].indexOf('date') == -1 || csv[0].indexOf('item') == -1 ||
            csv[0].indexOf('price') == -1 || csv[0].indexOf('place') == -1) {
            $('.modal-body').text("You must indicate all columns: date, price, item and place!");
            $('#myModal').modal('show')
            return;
        }
        $.post('/csv/', {
            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
            'csv':JSON.stringify(csv)
        },function(e) {
            $('.modal-body').text(e);
            $('#myModal').modal('show')
        })
    })
//show_csv_start([['2012.10.13', 'Kaufland', '13', 'Cumparaturi'],['2012.10.13', 'Kaufland', '13', 'Cumparaturi']])
//show_csv_start([['Date', 'Place', 'Price', 'Item'],['2012.10.13', 'Kaufland', '13', 'Cumparaturi']])
</script>
{% endblock %}