{% extends "base.html" %}

{% block content %}
{% if not user.is_authenticated %}
<div class="jumbotron">
        <h1>Start saving money!</h1>

        <p>Stop trying to remember where you spent your money every day and instead just use ReceiptBudgets OCR to
            scan your receipts.</p>

        <p>Can't make sense of long tables of your expense data? ReceiptBudget has a friendly and intuitive dashboard to
            help you understand your shopping patterns!.</p>

        <p><a class="btn btn-primary btn-lg" href="/accounts/signup/">Sign up now!</a></p>
</div>
{% endif %}
{% endblock %}